/*light green: #4caf50 */
/*dark green: #479b4b */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-size: 50px;
	padding: 50px;
	font-weight: 900;
	font-style: italic;
}

h3 {
	font-weight: 900;
	font-size: 36px;
}

p {
	text-align: center;
	font-size: 30px;
}

#action-panel > a {
	color: white;
}

#action-panel > a:hover {
	color: white;
}

.capsule {
	display: inline-block;
	background-color: #fff;
	color: #4caf50;
	border-radius: 50px;
	font-size: 48px;
	padding: 8px 40px;
	margin: 30px auto;
}

.white-bg {
	background-color: #fff;
	color: #4caf50;
	padding: 30px 40px; 
}

.lt-green-bg {
	padding: 30px 40px; 
	background-color: #4caf50;
	color: #fff;
	text-align: center;
}

.dk-green-btn {
	background-color: #479b4b;
	border: none;
	font-size: 48px;
	font-style: italic;
	font-weight: 900;
	margin: 15px 0 5px;
	border-radius: 10px;
	padding: 0px 50px;
}

.minus-btn {
	background-color: #479b4b;
	border: none;
	font-size: 48px;
	color: white;
	width: 50%;
	height: 300px;
	padding-right: 60px;
	padding-bottom: 80px;
}

.plus-btn {
	background-color: #4caf50;
	border: none;
	font-size: 48px;
	color: white;
	width: 50%;
	height: 300px;
	padding-left: 60px;
	padding-bottom: 80px;
}

.circle {
	background-color: white;
	border-radius: 60px;
	position: absolute;
	font-size: 48px;
	color: #479b4b;
	height: 120px;
	width: 120px;
	top: 60px;
	padding-top: 26px;
	left: calc(50% - 60px);
	z-index: 1000;
	text-align: center;
}

.done-btn {
	border: none;
	background-color: white;
	border-radius: 20px;
	font-size: 22px;
	color: #479b4b;
	height: 40px;
	width: 120px;
	position: absolute;
	top: 220px;
	left: calc(50% - 60px);
	z-index: 1000;
	text-align: center;
	display: none;
}

.bottom-div {
	text-align: center;
}

.bottom-btn {
	border: none;
	background-color: #479b4b;
	color: white;
	font-size: 24px;
	height: 72px;
	width: 60%;
	border-radius: 36px;

.caption {
	font-size: 14px;
	padding: 2px;
}

.green-dot-container {
	margin-top: 30px; 
	font-size: 30px;
	text-align: center;
	line-height: 60%;
}

#action-panel {
	padding: 30px 15px;
	text-align: center;

}

#counter {
	color: #479b4b;
	font-size: 52px;
	text-align: center;
}

.goal {
	color: #479b4b;
	font-size: 36px;
	text-align: center;
}

.phone {
	display: block !important;
}

.website {
	display: none !important;
}

@media screen and (min-width: 750px) {
	.phone {
		display: none !important;
	}

	.website {
		display: block !important;
	}
}