/*light green: #4caf50 */
/*dark green: #479b4b */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-size: 50px;
	padding: 10px;
	font-weight: 900;
	font-style: italic;
}

h2 {
	text-align: center;
	font-size: 28px;
	padding-bottom: 20px;
}

h3 {
	font-weight: 900;
	font-size: 26px;
}

p {
	text-align: center;
	font-size: 30px;
}

a {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:selected {
	color: white;
}

a:active {
	color: white;
}

footer {
	bottom: 0;
	left: 0;
	text-align: center;
	width: calc(100% + 80px);
	height: 100px;
	background-color: #479b4b;
	color: white;
	padding: 20px;
	margin: 0 -40px -40px;
}

a:hover > footer {
	text-decoration: none;
}

.logo {
	font-weight: 900;
	font-size: 32px;
}

.green-link {
	font-style: italic;
	color: #479b4b;
}

.green-link:visited {
	color: #479b4b;
}

.green-link:hover {
	color: #479b4b;
}

.green-link:selected {
	color: #479b4b;
}

.green-link:active {
	color: #479b4b;
}

.green-link > h3 {
	margin-top: 0;
}

#capsule {
	display: block;
	background-color: #fff;
	color: #4caf50;
	border-radius: 50px;
	font-size: 48px;
	padding: 8px 40px;
	margin: 30px auto;
	max-width: 270px;
}

#streak {
	height: 40px;
	width: 80px;
	background-color: #479b4b;
	color: white;
	border-radius: 20px;
	font-style: italic;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
}

#streak > .fa-stack {
	color: #4caf50;
	font-size: 20px;
}

#streak > .fa-stack > .fa {
	margin: 0;
}

#user {
	height: 40px;
	width: 40px;
	background-color: #4caf50;
	color: white;
	border-radius: 20px;
	font-size: 20px;
	display: inline-block;
	right: 0;
	float: right;
}

#user > .fa-stack {
	color: #479b4b;
	font-size: 20px;
}

#user > .fa-stack > .fa {
	margin: 0;
}

.white-bg {
	background-color: #fff;
	color: #4caf50;
	padding: 30px 40px; 
}

.lt-green-bg {
	display: block;
	padding: 30px 20px; 
	background-color: #4caf50;
	color: #fff;
	text-align: center;
}

.dk-green-btn {
	background-color: #479b4b;
	border: none;
	font-size: 42px;
	font-style: italic;
	font-weight: 900;
	margin: 15px 0 5px;
	border-radius: 10px;
	padding: 0px 50px;
}

.dk-green-btn:hover {
	background-color: #378b3b;
}

.dk-green-btn:active {
	background-color: #277b2b;
}

.lt-green-btn {
	background-color: #4caf50;
	color: #fff !important;
	border-color: #479b4b;
	border-width: 1px;
	box-shadow: none;
	width: 80px;
}

.lt-green-btn.active {
	background-color: #479b4b !important;
	color: #fff !important;
}

.lt-green-btn:hover {
	color: #fff !important;
}

#info-section {
	text-align: center;
}

.white-btn {
	background-color: #fff;
	color: #479b4b;
	border-color: #479b4b;
	border-width: 1px;
	box-shadow: none;
	width: 80px;
	font-size: 18px;
}

.white-btn.active {
	background-color: #479b4b;
	color: #fff;
}

.white-btn:hover {
	color: #479b4b;
}

.white-btn.active:hover {
	color: #fff;
}

.section {
	display: none;
	padding-top: 20px;
}

.section.active {
	display: block;
}

.section > p {
	font-size: 16px;
	margin-top: 10px;
}

.minus-btn {
	background-color: #479b4b;
	border: none;
	font-size: 60px;
	color: white;
	width: 50%;
	height: 300px;
	padding-right: 75px;
}

.plus-btn {
	background-color: #4caf50;
	border: none;
	font-size: 60px;
	color: white;
	width: 50%;
	height: 300px;
	padding-left: 75px;
}

.circle {
	background-color: white;
	border-radius: 75px;
	position: absolute;
	font-size: 60px;
	color: #479b4b;
	height: 150px;
	width: 150px;
	top: 75px;
	padding-top: 33px;
	left: calc(50% - 75px);
	z-index: 1000;
	text-align: center;
}

.mission-top {
	pointer-events: none;
	position: absolute;
	top: 16px;
	color: white;
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.mission-bottom {
	pointer-events: none;
	position: absolute;
	top: 240px;
	color: white;
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.done-btn {
	border: none;
	background-color: white;
	border-radius: 20px;
	font-size: 22px;
	color: #479b4b;
	height: 40px;
	width: 120px;
	position: absolute;
	top: 220px;
	left: calc(50% - 60px);
	z-index: 1000;
	text-align: center;
	display: none;
}

.dollar:before {
	content: '$';
}

.bottom-div {
	text-align: center;
}

.bottom-btn {
	border: none;
	background-color: #479b4b;
	color: white;
	font-size: 24px;
	height: 72px;
	width: 60%;
	border-radius: 36px;
}

.caption {
	display: block;
	font-size: 16px;
	padding: 2px;
}

.green-dot-container {
	margin-top: 30px; 
	font-size: 30px;
	text-align: center;
	line-height: 60%;
}

#action-panel {
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

#action-panel > p {
	font-style: italic;
	color: #479b4b;
	margin: 10px;
	font-size: 18px;
}

#counter {
	color: #479b4b;
	font-size: 52px;
	text-align: center;
}

.goal {
	color: #479b4b;
	font-size: 30px;
	text-align: center;
	padding: 0px 10px;
}

.phone {
	display: block !important;
}

.website {
	display: none !important;
}

@media screen and (min-width: 750px) {
	.phone {
		display: none !important;
	}

	.website {
		display: block !important;
	}
}

.section > .col-md-4 {
	padding: 10px 0;
}

.green-dot-container > .row > .col-md-4 {
	padding: 10px 0;
}

@media screen and (min-width: 991px) {
	.white-bg {
		padding: 80px 80px 40px 80px;
	}

	#today-item {
		margin: 50px 0;
	}

	.section > .col-md-4 {
		padding: 10px;
		font-size: 18px;
	}

	footer {
		position: fixed;
		margin: 0;
		width: 100%;
	}
}

.fa {
	margin: 40px 0 10px 0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 40px;
	border: 1px solid #888;
	width: 50%;
	font-size: 24px;
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -20px;
	margin-right: -20px;
}

.close > .fa {
	margin: 0;
}

.close:hover,
.close:focus {
	color: #479b4b;
	text-decoration: none;
	cursor: pointer;
}

.streak-number {
	font-size: 72px;
}

.fa-stack.middle-icon {
	margin-top: -14px;
	font-size: 32px;
}

.fa-stack.middle-icon > .fa {
	margin: 0;
}