/*light green: #4caf50 */
/*dark green: #479b4b */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-size: 50px;
	padding: 50px;
	font-weight: 900;
	font-style: italic;
}

h3 {
	font-weight: 900;
	font-size: 36px;
}

p {
	text-align: center;
	font-size: 30px;
}

a {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:selected {
	color: white;
}

a:active {
	color: white;
}

#capsule {
	display: block;
	background-color: #fff;
	color: #4caf50;
	border-radius: 50px;
	font-size: 48px;
	padding: 8px 40px;
	margin: 30px auto;
	max-width: 270px;
}

.white-bg {
	background-color: #fff;
	color: #4caf50;
	padding: 30px; 
}

.lt-green-bg {
	display: block;
	padding: 30px 20px; 
	background-color: #4caf50;
	color: #fff;
	text-align: center;
}

.dk-green-btn {
	background-color: #479b4b;
	border: none;
	font-size: 48px;
	font-style: italic;
	font-weight: 900;
	margin: 15px 0 5px;
	border-radius: 10px;
	padding: 0px 50px;
}

.dk-green-btn:hover {
	background-color: #378b3b;
}

.dk-green-btn:active {
	background-color: #277b2b;
}

.lt-green-btn {
	background-color: #4caf50;
	color: #fff !important;
	border-color: #479b4b;
	border-width: 1px;
	box-shadow: none;
	width: 80px;
}

.lt-green-btn.active {
	background-color: #479b4b !important;
	color: #fff !important;
}

.lt-green-btn:hover {
	color: #fff !important;
}

.minus-btn {
	background-color: #479b4b;
	border: none;
	font-size: 60px;
	color: white;
	width: 50%;
	height: 300px;
	padding-right: 75px;
}

.plus-btn {
	background-color: #4caf50;
	border: none;
	font-size: 60px;
	color: white;
	width: 50%;
	height: 300px;
	padding-left: 75px;
}

.circle {
	background-color: white;
	border-radius: 75px;
	position: absolute;
	font-size: 60px;
	color: #479b4b;
	height: 150px;
	width: 150px;
	top: 75px;
	padding-top: 33px;
	left: calc(50% - 75px);
	z-index: 1000;
	text-align: center;
}

.mission-top {
	pointer-events: none;
	position: absolute;
	top: 10px;
	color: white;
	font-size: 36px;
	width: 100%;
	text-align: center;
}

.mission-bottom {
	pointer-events: none;
	position: absolute;
	top: 234px;
	color: white;
	font-size: 36px;
	width: 100%;
	text-align: center;
}

.done-btn {
	border: none;
	background-color: white;
	border-radius: 20px;
	font-size: 22px;
	color: #479b4b;
	height: 40px;
	width: 120px;
	position: absolute;
	top: 220px;
	left: calc(50% - 60px);
	z-index: 1000;
	text-align: center;
	display: none;
}

.dollar:before {
	content: '$';
}

.bottom-div {
	text-align: center;
}

.bottom-btn {
	border: none;
	background-color: #479b4b;
	color: white;
	font-size: 24px;
	height: 72px;
	width: 60%;
	border-radius: 36px;
}

.caption {
	display: block;
	font-size: 14px;
	padding: 2px;
}

.green-dot-container {
	margin-top: 30px; 
	font-size: 24px;
	text-align: center;
	line-height: 75%;
}

#action-panel {
	padding: 30px 15px;
	text-align: center;

}

#counter {
	color: #479b4b;
	font-size: 52px;
	text-align: center;
}

.goal {
	color: #479b4b;
	font-size: 36px;
	text-align: center;
}

.phone {
	display: block !important;
}

.website {
	display: none !important;
}

@media screen and (min-width: 750px) {
	.phone {
		display: none !important;
	}

	.website {
		display: block !important;
	}
}